{{!-- nav --}}
<nav class="navbar bg-success py-3" data-bs-theme="dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-cart-shopping fa-xl"></i>
            </button>
        </a>
    </div>
</nav>

{{!-- modal --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body row">
                {{!-- inyeccion --}}
            </div>
        </div>
    </div>
</div>
